@model MVCexample.Models.Gbook

@{
    ViewBag.Title = "Reply";
}

<h2>Reply</h2>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Content)
            </td>
            <td>
                @Model.Content
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Reply)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Reply)
                @Html.ValidationMessageFor(model => model.Reply)
            </td>
        </tr>
    </table>
    if (Model.ReplyTime == null)
    {
        <input type="submit" value="修改" />
    }
    else
    {
        <h4>此留言已回覆過，請</h4>
        @Html.ActionLink("返回列表", "Index")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
